.home {


	#primary {

		a {
			color: $black;
			text-decoration: none;
			&:hover {
				opacity: 0.7;
			}
		}

		.site-branding {
			
		}

		h1.site-title {
			margin: 10px 0;
    		line-height: 32px;
		}

		.icon-caricatura {
			fill: #333;
    		width: 100px;
    		height: 100px;
		}

		.site-description {
			font-size: 14px;
			line-height: 18px;
			max-width: 250px;
			margin: 6px 0;
		}

		.latest-heading {
			margin-bottom: 40px;
			&:after {
				content: '';
				display: block;
				width: 20px;
				height: 2px;
				background-color: $black;
			}
		}


		h2.entry-title {
			font-size: 16px;
			line-height: 19px;
		}

		.entry-meta,
		.entry-footer {

			font-weight: 300;
			font-size: 14px;
			line-height: 18px;
			margin-top: 6px;
			color: $grey;

			a {
				color: $grey;
			}

		}

		.entry-content {

			font-size: 14px;
			line-height: 18px;

		}


	}

}