//Colors
$brand-color: #262626;
$hover-color: #2196F3;
$body-background: #ffffff;
$column-left-color: transparent;
$column-right-color: transparent;
$single-content-top-margin: 30px;

//Sass files needed
@import "normalize";
@import "simple-grid";